*
{
margin:0;
padding:0;
} 

header
}
.main-nav
{
   float: right;
   list-style:none;
   margin-top:30px;
}

   .logo img
  {
	  
   width: 80px;
   height: auto;
   float: top-left;
   }
   body
   {
	   font-family: gotham;
   }
   .row
   {
	    max-width: 1200px;
		margin:auto;
   }
   
   
   
   
   
   